aniso8601==7.0.0
asgiref==3.3.4
dj-database-url==0.5.0
Django==3.1.12
django-bona-blog==1.1.4
django-ckeditor==6.0.0
django-cleanup==2.1.0
django-crispy-forms==1.7.2
django-filter==2.4.0
django-js-asset==1.2.2
django-taggit==1.5.1
djangorestframework==3.12.4
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
Pillow==8.2.0
promise==2.3
pytz==2021.1
Rx==1.6.1
singledispatch==3.6.2
six==1.16.0
sqlparse==0.4.1
text-unidecode==1.3
